@model List<MUSICA_TRFINAL.Models.Canciones>

<div class="container">
    <div class="row d-flex" style="margin-bottom: 10px;">
        @foreach (var cancion in Model)
        {
            <div class="col-auto">
                <div class="card" style="width: 18rem; margin-bottom: 10px;">
                    <img class="card-img-top" src="~/Images/@(cancion.CancionID).jpg" alt="Card image cap">                    <div class="card-body">
                        <h5 class="card-title">@cancion.NombreCancion</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Cantante: @cancion.Cantante</li>
                            <li class="list-group-item">Género: @cancion.Genero</li>
                            <li class="list-group-item">Vistos: @cancion.Vistos</li>
                            <li class="list-group-item">Likes: @cancion.Likes</li>
                        </ul>
                        <a href="@cancion.Link" target="_blank" class="btn btn-primary">Escuchar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
